@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 45 25% 97%;
    --foreground: 343 25% 26%;
    --card: 0 0% 100%;
    --card-foreground: 343 25% 26%;
    --popover: 0 0% 100%;
    --popover-foreground: 343 25% 26%;
    --primary: 343 25% 26%;
    --primary-foreground: 0 0% 100%;
    --secondary: 343 83% 70%;
    --secondary-foreground: 343 25% 26%;
    --muted: 45 20% 90%;
    --muted-foreground: 45 10% 50%;
    --accent: 343 100% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 20% 90%;
    --input: 45 20% 90%;
    --ring: 343 25% 26%;
    --chart-1: 343 83% 70%;
    --chart-2: 343 25% 26%;
    --chart-3: 45 25% 70%;
    --chart-4: 343 100% 60%;
    --chart-5: 45 30% 50%;
    --radius: 1.5rem;
    --sidebar-background: 45 25% 97%;
    --sidebar-foreground: 343 25% 26%;
    --sidebar-primary: 343 25% 26%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 343 83% 70%;
    --sidebar-accent-foreground: 343 25% 26%;
    --sidebar-border: 45 20% 90%;
    --sidebar-ring: 343 25% 26%;
  }
  .dark {
    --background: 45 25% 97%;
    --foreground: 343 25% 26%;
    --card: 0 0% 100%;
    --card-foreground: 343 25% 26%;
    --popover: 0 0% 100%;
    --popover-foreground: 343 25% 26%;
    --primary: 343 25% 26%;
    --primary-foreground: 0 0% 100%;
    --secondary: 343 83% 70%;
    --secondary-foreground: 343 25% 26%;
    --muted: 45 20% 90%;
    --muted-foreground: 45 10% 50%;
    --accent: 343 100% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 20% 90%;
    --input: 45 20% 90%;
    --ring: 343 25% 26%;
    --chart-1: 343 83% 70%;
    --chart-2: 343 25% 26%;
    --chart-3: 45 25% 70%;
    --chart-4: 343 100% 60%;
    --chart-5: 45 30% 50%;
    --radius: 1.5rem;
    --sidebar-background: 45 25% 97%;
    --sidebar-foreground: 343 25% 26%;
    --sidebar-primary: 343 25% 26%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 343 83% 70%;
    --sidebar-accent-foreground: 343 25% 26%;
    --sidebar-border: 45 20% 90%;
    --sidebar-ring: 343 25% 26%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
